.App {
  position: absolute;
  text-align: center;
  font-weight: 500;
  width: 100%;
  margin: auto;
  top: 50%;
  transform: translateY(-50%);
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.row {
  display: flex;
  align-items: center;
  align-content: center;
}

.cell {
  width: 30px;
  height: 30px;
  color: blue;
  top: 0;
  left: 0;
  padding: 0;
  margin: 0;
  border: 1px solid black;
}

.cellX {
  width: 30px;
  height: 30px;
  color: red;
  top: 0;
  left: 0;
  padding: 0;
  margin: 0;
  border: 1px solid black;
}

.layer {
  width: max-content;
  margin-inline: auto;
  border: 2px solid black;
  margin-bottom: 20px;
  transition: 500ms ease-in-out;
  transform: perspective(200px) rotateX(0deg);
}

.layer3D {
  width: max-content;
  margin-inline: auto;
  border: 2px solid black;
  margin-bottom: -20px;
  transition: 500ms ease-in-out;
  transform: perspective(200px) rotateX(45deg);
}

.restart {
  margin-top: 20px;
}